{{define "title"}}Samuel Bartlett{{end}}

{{define "body"}}
<body class="" style="height: 100%;" data-react-helmet="class">
    <div>
        
    </div>
    <div id="content">
        <main class="pages__StyledMainContainer-sc-1tzx2o8-0 ePyBYl fillHeight">
            <section class="hero__StyledHeroSection-sc-116xg8t-0 eEjAsd">
                <div class="fadeup-enter-done" style="transition-delay: 100ms;">
                    <h1>Hello, my name is</h1>
                </div>
            </section>
            <h2>Samuel Bartlett</h2>
        </main>
    </div>
</body>

{{end}}